.sidebar {
    background-color: #85503ec1;
    color: antiquewhite;
    width: 250px; /* Set a fixed width */
    position: fixed;
    height: 100vh;
    box-shadow: 0 0 2px rgb(215, 214, 214);
}


.menu {
    padding-top: 80px;
}

.menu-item {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.menu-item:hover {
    background-color: #3b2920;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    flex-grow: 1;
}

.menu-item i {
    font-size: 1.4rem;
    margin-right: 15px;
    color: white;
}

.active {
    background-color: white;
    color: #5c3d2e;
    border-left: 5px solid #d9534f;
    /* Red border for active */
    font-weight: bold;
}

.active a,
.active i {
    color: #5c3d2e;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        /* Smaller width on mobile */
        text-align: center;
    }

    .menu-item {
        justify-content: center;
    }

    .menu-item a {
        display: none;
        /* Hide text */
    }

    .menu-item i {
        font-size: 1.5rem;
    }

    .active {
        border-left: none;
        border-bottom: 3px solid #d9534f;
    }
}

.content {
    margin-top: 50px;
    margin-left: 250px; /* Push content to the right to avoid overlap */
    padding: 20px;
    width: calc(100% - 250px); /* Adjust width to fit next to sidebar */
}
